@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */

  /* Primary */
  --clr-primary-1: hsl(14, 45%, 36%);
  --clr-primary-2: hsl(332, 51%, 32%);

  /* Neutral */
  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(330, 100%, 98%);
  --clr-neutral-3: hsl(30, 54%, 90%);
  --clr-neutral-4: hsl(30, 18%, 87%);
  --clr-neutral-5: hsl(30, 10%, 34%);
  --clr-neutral-6: hsl(24, 5%, 18%);

  /* Typography */
  --fs-400: 1rem;

  /* Fonts */
  --ff-body: 'Outfit', sans-serif;
  --ff-heading: 'Young Serif', serif;
  --fw-normal: 400;
  --fw-bold: 600;
  --fw-extra-bold: 700;

  /* Rest of vars */
  --fluid-width: 90vw;
  --max-wdith: 1440px;
  --rounded: 0.5rem;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  line-height: 1.7;
  color: var(--clr-neutral-5);
  background-color: var(--clr-neutral-1);
}

ul,
ol {
  margin-top: 1em;
  padding-inline-start: 1rem;
}

li {
  padding-inline-start: 1rem;
}

strong {
  font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  color: var(--clr-neutral-6);
  line-height: 1.2;
  text-wrap: balance;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table > caption {
  margin-block-end: 1em;
  text-align: left;
}

td {
  padding: 1rem;
}

tr:not(:last-child) td {
  border-bottom: 1px solid var(--clr-neutral-4);
}

tr td:nth-child(even) {
  color: var(--clr-primary-1);
  font-weight: var(--fw-bold);
}

.img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-wdith);
  margin-inline: auto;
  padding-block: 1rem;
}

.section {
  padding-block: 2rem;
}

.section > * + * {
  margin-top: 1em;
}

.section-title {
  color: var(--clr-primary-1);
}

.section:not(:last-child) {
  border-bottom: 1px solid var(--clr-neutral-4);
}

/* HEADER */
@media screen and (min-width: 768px) {
  header {
    width: var(--fluid-width);
    max-width: var(--max-wdith);
    margin-inline: auto;
    padding-block-start: 2rem;
  }

  header img {
    border-radius: var(--rounded);
  }
}

/* PREPARATION */
.preparation-section {
  background-color: var(--clr-neutral-2);
  border-radius: var(--rounded);
  padding: 1rem;
  margin-top: 2em;
}

.preparation-title {
  color: var(--clr-primary-2);
  font-weight: var(--fw-bold);
}

/* INSTRUCTIONS */
.instructions-list > li::marker {
  color: var(--clr-primary-2);
}

.instructions-list > * + * {
  margin-top: 0.5em;
}
